workspace_cs/WindowsFormsCalc/.vs/
workspace_cs/ConsoleApp1/.vs/ConsoleApp1/DesignTimeBuild/.dtbcache.v2
workspace_cs/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/40c37afa-1605-41d7-b2f9-1b2663edf7a2.vsidx
workspace_cs/ConsoleApp1/.vs/
workspace_cs/ConsoleApp1/bin/
workspace_cs/ConsoleApp1/obj/
workspace_cs/WindowsForms_WebView/.vs/
workspace_cs/WindowsForms_WebView/bin/
workspace_cs/WindowsForms_WebView/obj/
workspace_cs/WindowsForms_WebView/packages/
workspace_cs/WindowsForms_WebView/Properties/
workspace_cs/WindowsFormsCalc/bin/
workspace_cs/WindowsFormsCalc/obj/
workspace_cs/WindowsFormsDB/.vs/
workspace_cs/WindowsFormsDB/bin/
workspace_cs/WindowsFormsDB/obj/
workspace_cs/WindowsFormsDB/packages/
workspace_cs/WindowsFormsDB/Properties/
workspace_cs/WindowsFormsCalc/Properties/
